

/* @media (max-width: 1250px) {

} */

 
*{
  margin: 0;
  padding: 0;
}

body{
  background: #e6e8e3;
}

#container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  
}

#left{
  background: #566573;
}

#leftHtml{
  text-align: center;
  color: #ffff;
  width: 240px;
  text-decoration: none;
  
  
}

#rigth{
  background:#ffff;
}

#rigthHtml{

  width: 785px;
  
}


#idfooter{
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 18px;
  background: #566573;
  width: 1024px;

}

#footer{
  
  display: block;
  text-align: center;

  
  font-weight: bold;

}

#footer > div >a{
  text-decoration: none;
  color: black;
}



@media (max-width: 1024px) {

  #idfooter{
    width: auto;
  }
  #rigthHtml{
    width: auto;
  }
}

@media (max-width: 829px) {
   #container{
     display: block;
   }
   #left{ 
    display: flex;
    justify-content: center;
    
  }
  #leftHtml{
    width: auto;
  }


   
}








