

/* @media (max-width: 1250px) {

} */

 
*{
  margin: 0;
  padding: 0;
}

body{
  background: #e6e8e3;
}

#container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  
}

#left{
  background: #566573;
}

#leftHtml{
  text-align: center;
  color: #ffff;
  width: 240px;
  text-decoration: none;
  
  
}

#rigth{
  background:#ffff;
}

#rigthHtml{

  width: 785px;
  
}

@media (max-width: 1024px) {
 /*  #container{
    display: block;
  } */
  #rigthHtml{
    width: auto;
  }
}

@media (max-width: 829px) {
   #container{
     display: block;
   }
   #left{ 
    display: flex;
    justify-content: center;
    
  }
  #leftHtml{
    width: auto;
  }


   
}








